<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>NALUNY</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{url_for('static', filename='img/favicon.ico')}}"
    />

    <!-- CSS here -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/owl.carousel.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/slicknav.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/flaticon.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/progressbar_barfiller.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/gijgo.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/animate.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/animated-headline.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/magnific-popup.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/fontawesome-all.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/themify-icons.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/slick.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/nice-select.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/custom.css')}}"
    />
  </head>
  <body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img
              src="{{url_for('static', filename='img/logo/loder.png')}}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
      <!-- Header Start -->
      <div class="header-area header-transparent">
        <div class="main-header">
          <div class="header-bottom header-sticky">
            <div class="container-fluid">
              <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-xl-2 col-lg-2">
                  <div class="logo">
                    <a href="{{url_for('index')}}" data="logo"
                      ><img
                        src="{{url_for('static', filename='img/logo/loder.png')}}"
                        alt="Logo"
                      />&nbsp;NALUNY</a
                    >
                  </div>
                </div>
                <div class="col-xl-10 col-lg-10">
                  <div
                    class="menu-wrapper d-flex align-items-center justify-content-end"
                  >
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                      <nav>
                        <ul id="navigation">
                          <li>
                            <a href="{{url_for('dashboard')}}">Dashboard</a>
                          </li>
                          <li><a href="{{url_for('article')}}">Artikle</a></li>
                          <li>
                            <a href="{{url_for('tables')}}">VERWALTEN</a>
                            <!-- <ul class="submenu">
                              <li><a href="blog.html">Blog</a></li>
                              <li>
                                <a href="blog_details.html">Blog Details</a>
                              </li>
                              <li><a href="elements.html">Element</a></li>
                            </ul> -->
                          </li>
                          <li><a href="{{url_for('account')}}">Account</a></li>
                          <!-- Button -->
                          <li class="button-header margin-left">
                            <a href="{{url_for('logout')}}" class="btn"
                              >Sing Out</a
                            >
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <main>
      <!-- Slider Area Start-->
      <div class="slider-area main-body p-x-3">
        <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider w-full d-flex slider-height m-t-15">
            <div class="w-full" data-animation="fadeInLeft" data-delay=".5s">
              <div class="detail-content">
                <div class="detail-content-print"></div>
                <div class="detail-content-id">
                  <p>ID:</p>
                  <p>778458</p>
                </div>
                <div class="container-fluid">
                  <div class="row item-center">
                    <div class="col-xl-4">
                      <div class="detail-content-img">
                        <div class="detail-content-image">
                          <div class="detail-content-img1">
                            <img src="" alt="" />
                          </div>
                          <div class="detail-content-img2"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-8">
                      <div class="detail-main-content-item-content">
                        <h3>DENON Soundsysteme Lautsprecher Boxen Receiver</h3>
                        <div class="detail-main-content-item-content-small">
                          <div class="detail-main-content-item-content-sitem">
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Status:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Standort:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Zustand:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Status:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Standort:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Zustand:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-content-buttons">
                              <p>Dokumente:</p>
                              <div class="detail-content-button1">
                                <button>excel #1</button>
                                <button>excel #2</button>
                              </div>
                              <button>video #1</button>
                            </div>
                          </div>
                          <div class="d-main-content-item-content-sitem">
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Status:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Standort:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Zustand:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Status:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Standort:</p>
                              <p>Verkauflich</p>
                            </div>
                            <div class="detail-main-content-item-content-item1">
                              <p class="detail-content-title1">Zustand:</p>
                              <p>Verkauflich</p>
                            </div>
                          </div>
                        </div>
                        <div class="detail-content-information">
                          <h3>Information:</h3>
                          <div class="detail-content-informations">
                            <p>
                              Beschreibung: Lorem ipsum dolor sit amet,
                              consetetur sadipsing elitr,Lorem ipsum dolor sit
                              amet, consetetur sadipsing elitr Lorem ipsum dolor
                              sit amet, consetetur sadipsing elitr Lorem ipsum
                              dolor sit amet, consetetur sadipsing elitr
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Slider -->
          <div class="single-slider d-flex align-items-center slider-height">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-9">
                <div class="hero__caption">
                  <span data-animation="fadeInLeft" data-delay=".3s"
                    >Best Domain & hosting service provider</span
                  >
                  <h1 data-animation="fadeInLeft" data-delay=".6s">
                    Powerful web hosting
                  </h1>
                  <p data-animation="fadeInLeft" data-delay=".8s">
                    Supercharge your WordPress hosting with detailed website
                    analytics, marketing tools, security, and data backups all
                    in one place.
                  </p>
                  <!-- Slider btn -->
                  <div class="slider-btns">
                    <!-- Hero-btn -->
                    <a
                      data-animation="fadeInLeft"
                      data-delay="1s"
                      href="industries.html"
                      class="btn radius-btn"
                      >get started</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="hero__img d-none d-lg-block f-right">
                  <img
                    src="assets/img/hero/hero_right.png"
                    alt=""
                    data-animation="fadeInRight"
                    data-delay="1s"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
          <img
            class="slider-shape1"
            src="assets/img/hero/top-left-shape.png"
            alt=""
          />
        </div>
      </div>
      <!-- Slider Area End -->
    
    </main>
    <footer>
      <div
        class="footer-wrappr"
        data-background="assets/img/gallery/footer-bg.png"
      >
        <div class="footer-area footer-padding">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-caption mb-50">
                  <!-- logo -->
                  <div class="footer-logo mb-25">
                    <a href="index.html"
                      ><img src="assets/img/logo/logo2_footer.png" alt=""
                    /></a>
                  </div>
                  <div class="footer-tittle mb-50">
                    <p>
                      Subscribe our newsletter to get updates about our services
                    </p>
                  </div>
                  <!-- Form -->
                  <div class="footer-form">
                    <div id="mc_embed_signup">
                      <form
                        target="_blank"
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get"
                        class="subscribe_form relative mail_part"
                        novalidate="true"
                      >
                        <input
                          type="email"
                          name="EMAIL"
                          id="newsletter-form-email"
                          placeholder=" Email Address "
                          class="placeholder hide-on-focus"
                          onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Your email address'"
                        />
                        <div class="form-icon">
                          <button
                            type="submit"
                            name="submit"
                            id="newsletter-submit"
                            class="email_icon newsletter-submit button-contactForm"
                          >
                            Subscribe
                          </button>
                        </div>
                        <div class="mt-10 info"></div>
                      </form>
                    </div>
                  </div>
                  <!-- social -->
                  <div class="footer-social mt-50">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://bit.ly/sai4ull"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Company</h4>
                    <ul>
                      <li><a href="#">Why choose us</a></li>
                      <li><a href="#"> Review</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Carrier</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Products</h4>
                    <ul>
                      <li><a href="#">Why choose us</a></li>
                      <li><a href="#"> Review</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Carrier</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Support</h4>
                    <ul>
                      <li><a href="#">Technology</a></li>
                      <li><a href="#"> Products</a></li>
                      <li><a href="#">Customers</a></li>
                      <li><a href="#">Quality</a></li>
                      <li><a href="#">Sales geography</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
          <div class="container">
            <div class="footer-border">
              <div class="row">
                <div class="col-xl-12">
                  <div class="footer-copy-right text-center">
                    <p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      All rights reserved | This template is made with
                      <i class="fa fa-heart" aria-hidden="true"></i> by
                      <a href="https://colorlib.com" target="_blank"
                        >Colorlib</a
                      >
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{{url_for('static', filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/animated.headline.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>

    <!-- Date Picker -->
    <script src="{{url_for('static', filename='js/gijgo.min.js')}}"></script>

    <!-- Video bg -->
    <script src="{{url_for('static', filename='js/jquery.vide.js')}}"></script>

    <!-- Nice-select, sticky -->
    <script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
    <!-- Progress -->
    <script src="{{url_for('static', filename='js/jquery.barfiller.js')}}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{{url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/hover-direction-snake.min.js')}}"></script>

    <!-- contact js -->
    <script src="{{url_for('static', filename='js/contact.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/mail-script.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{{url_for('static', filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
